{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    // "browser": true,
    // "node": true,
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
    // "foo": true,
    // "window": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "react/require-default-props": 0,
    "eslintreact/state-in-constructor": 0,
    "default-case": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "react/state-in-constructor": 0,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 0,
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}